<ion-content padding class="login-screen">
    <div class="logo-wrapper">
        <div class="logo">
            <ion-img id="img" src='assets/img/logo_transparent.png'></ion-img>
        </div>
        <div class="title">
            <ion-label id="title">Welcome</ion-label>
        </div>
    </div>
    <div class="heading">
        <div class="auth">
            <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input type="text" autofocus="true" required [(ngModel)]="username"
                           class="username-input"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" required [(ngModel)]="password" class="password-input"></ion-input>
            </ion-item>
            <div class="forgot-password">
                <ion-label id="forgot-password-label">Forgot Password?</ion-label>
            </div>
        </div>
        <div>
            <ion-button class="login-btn" (click)="login()">Login</ion-button>
        </div>
    </div>
</ion-content>
