ion-content.login-screen {
  --background: #5C3C4C;
  //--background: none;
  //background-image: linear-gradient(to right top, #0066ff, #0070ff, #0078ff, #0081ff, #0089ff);
  //background-image: linear-gradient(to right top, #0084ff, #0092ff, #009fff, #00acff, #00b7ff);
  position: relative;
  height: 100%;
  width: 100%;
}

//.heading {
//  overflow: auto;
//  position: absolute;
//  //top: 50px;
//  left: 0;
//  bottom: 0;
//  right: 0;
//  margin: auto;
//  //height: 70%;
//  width: 85%;
//  display: inline-block;
//  //border-radius: 10px;
//  text-align: center;
//  justify-content: center;
//}

.logo-wrapper {
  width: 85%;
  height: 40%;
  margin: auto;
  position: inherit;
}

.logo {
  margin: auto;
  width: 100%;
  // if inherit from the parent it will get in's value i.e 85%
  height: 70%;
  position: inherit;
}

.title {
  margin: auto;
  width: 100%;
  height: 50%;
  position: inherit;
  text-align: center;
}

#title {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 2.5rem;
  color: #D5DBA6;
}

#img {
  height: 100%;
}

.auth {
  //display: inline-block;
  //border-radius: 30px !important;
  //padding-left: 30px !important;
  //padding-right: 30px !important;
  font-size: 0.9em;
  margin-bottom: 10px;
  margin-top: 20px;
  border: 0px solid #ffffff;
  border-bottom: 0px !important;

  //box-shadow: none !important;
  //background-color: white;
  //box-shadow: 0 8px 6px -6px #252626;
}

ion-item {
  border-radius: 30px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
  font-size: 0.9em;
  margin-bottom: 15px;
  border: 1px solid #ffffff;
  border-bottom: 0px !important;
  -webkit-box-shadow: 10px 10px 43px -31px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 43px -31px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 43px -31px rgba(0, 0, 0, 1) !important;
  background-color: white;
  --show-full-highlight: 0px;
}

.login-btn {
  width: 100%;
  margin-top: 20px;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  --border-radius: 30px !important;
  height: 56px;
  --background: #D5DBA6;
  color: #5C3C4C;
}

.forgot-password {
  width: 95%;
  text-align: right;
}

#forgot-password-label {
  color: #D5DBA6;
}
