<ion-content padding class="login-screen">
    <div class="heading">
    <ion-label class="title">Hello <br></ion-label>
    <ion-label class="subtitle">Sign in to your account</ion-label>
        </div>
    <div class="login-screen-content">
        <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input type="text" autofocus="true" required="true" class="username-input"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input type="password" required="true" class="password-input"></ion-input>
        </ion-item>
    </div>
</ion-content>
