<ion-header>
    <ion-toolbar>
        <ion-title>Create Event</ion-title>
        <ion-icon name="close" slot="end"></ion-icon>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-item>
        <ion-label position="floating"> Event Name</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Location</ion-label>
        <ion-input></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Pick Date & Time</ion-label>
        <ion-datetime display-format="MMM DD, YYYY HH:mm"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>Choose Logo (Optional)</ion-label>
        <ion-icon name="arrow-forward" slot="end"></ion-icon>
    </ion-item>

</ion-content>