.btn {
  --padding-start: 0px !important;
  --padding-end: 5px !important;
  --background: unset;
  --background-focused: unset;
  --background-activated: unset;
  --box-shadow: unset;

}

.back-btn {
  padding-left: 15px;
  padding-top: 3px;
}

.more-btn {
  padding-right: 10px;
}
