.btn {
  --padding-start: 0px !important;
  --padding-end: 5px !important;
  --background: unset;
  --background-focused: unset;
  --background-activated: unset;
  --box-shadow: unset;

}

.back-btn {
  padding-left: 15px;
  padding-top: 3px;
}

.more-btn {
  padding-right: 10px;
  -webkit-box-shadow: 10px 10px 43px -31px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 43px -31px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 43px -31px rgba(0, 0, 0, 1) !important;
}
