<ion-content padding class="signup-screen">
    <div class="logo-wrapper">
        <div class="logo">
            <ion-img id="img" src='assets/img/logo_transparent.png'></ion-img>
        </div>
        <div class="title">
            <ion-label id="title">Sign Up</ion-label>
        </div>
    </div>
    <div class="heading">
        <div class="auth">
            <ion-item>
                <ion-label position="floating">First Name</ion-label>
                <ion-input type="text" autofocus="true" required="true"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Last Name</ion-label>
                <ion-input type="text"  required="true"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input type="text"  required="true"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input type="password" required="true" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Re-Enter Password</ion-label>
                <ion-input type="password" required="true" ></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">What is my favourite hair color? </ion-label>
                <ion-input type="text" required="true"></ion-input>
            </ion-item>
        </div>
        <ion-button class="login-btn">Sign Up</ion-button>
    </div>
</ion-content>
