ion-content.signup-screen {
  --background: #5C3C4C;
  //--background: none;
  //background-image: linear-gradient(to right top, #0066ff, #0070ff, #0078ff, #0081ff, #0089ff);
  //background-image: linear-gradient(to right top, #0084ff, #0092ff, #009fff, #00acff, #00b7ff);
  position: relative;
  height: 100%;
  width: 100%;
}

.logo-wrapper {
  width: 85%;
  height: 30%;
  margin: auto;
  position: inherit;
}

.logo {
  margin: auto;
  width: 80%;
  // if inherit from the parent it will get in's value i.e 85%
  height: 70%;
  position: inherit;
}

.title {
  margin: auto;
  width: 100%;
  height: 50%;
  position: inherit;
  text-align: center;
}

#title {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 2.0rem;
  color: #D5DBA6;
}

#img {
  height: 100%;
}

.auth {
  padding: 10px 10px 20px 10px;
  font-size: 0.9em;
  margin-bottom: 10px;
  border: 0px solid #ffffff;
  border-bottom: 0px !important;
  border-radius: 30px !important;
  background-color: white;
  -webkit-box-shadow: 10px 10px 43px -31px rgba(0, 0, 0, 1);
  -moz-box-shadow: 10px 10px 43px -31px rgba(0, 0, 0, 1);
  box-shadow: 10px 10px 43px -31px rgba(0, 0, 0, 1) !important;
}

ion-item {
  font-size: 0.9em;
  background-color: white;
}

.login-btn {
  width: 100%;
  margin-top: 20px;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  --border-radius: 30px !important;
  height: 56px;
  --background: #D5DBA6;
  color: #5C3C4C;
}

.forgot-password {
  width: 95%;
  text-align: right;
}

#forgot-password-label {
  color: #D5DBA6;
}
