.update-btn {
  width: 100%;
  margin-top: 20px;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  --border-radius: 30px !important;
  height: 56px;
  --background: #D5DBA6;
  color: #5C3C4C;
}

.delete-btn {
  width: 100%;
  margin-top: 20px;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  --border-radius: 30px !important;
  height: 56px;
  --background: #D5DBA6;
  //color: #5C3C4C;
}
.logo-label{
  width: 100%;
  text-align: center;
  margin: 12px 0px !important;
}
#logo-preview-label{
  font-size: 1.3rem;
}
#img {
  height: 15rem;
}