<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item>
        Change Password
        <ion-button slot="end" (click)="presentPopover()">
            <ion-icon slot="icon-only" name="create">
            </ion-icon>
        </ion-button>
    </ion-item>
    <ion-item>
        Add Title
        <ion-button slot="end">
            <ion-icon slot="icon-only" name="create">
            </ion-icon>
        </ion-button>
    </ion-item>
    <ion-item>
        Add Logo
        <ion-button slot="end">
            <ion-icon slot="icon-only" name="create">
            </ion-icon>
        </ion-button>
    </ion-item>
    <ion-item>
        Feedback
        <ion-button slot="end">
            <ion-icon slot="icon-only" name="create">
            </ion-icon>
        </ion-button>
    </ion-item>
    <ion-item>
        Donations
        <ion-button slot="end">
            <ion-icon slot="icon-only" name="create">
            </ion-icon>
        </ion-button>
    </ion-item>
</ion-content>
