ion-item {
  width: 80px;
  --padding-start: 0px !important;
  //padding-left: unset !important;
  //-webkit-padding-start: unset !important;
  //padding-inline-start: unset !important;
  //-webkit-padding-end: unset !important;
  //padding-inline-end: unset !important;
}

.btn {
  padding: 8px !important;

}
