<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Subscribe</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-item>
        <!--../assets/img/default-logo.png-->
        <ion-img src={{imageURL}}></ion-img>
    </ion-item>

    <div *ngIf="showTitle; else elseBlock">
    <ion-item ng-show='true'>
        <ion-label>{{subscriptionTitle}}</ion-label>
    </ion-item>
    </div>

    <ion-item>
        <ion-label position="floating">Full Name *</ion-label>
        <ion-input required [(ngModel)]="fullName"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Email Address *</ion-label>
        <ion-input required [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating" >Home Number</ion-label>
        <ion-input type="number" [(ngModel)]="homeNumber" ></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Work Number</ion-label>
        <ion-input type="number" [(ngModel)]="workNumber"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating" >Mobile Number</ion-label>
        <ion-input type="number" [(ngModel)]="mobileNumber"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Additional Information</ion-label>
        <ion-textarea [(ngModel)]="additionalInfo"></ion-textarea>
    </ion-item>
    <ion-button color="primary" (click)="subscribe()">Subscribe</ion-button>
    <ng-template #elseBlock>
        <ion-item hidden>
        <ion-label>{{subscriptionTitle}} here</ion-label>
    </ion-item>
    </ng-template>
</ion-content>
