<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Subscribe</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div *ngIf="showLogo; else elseBlock2">
        <ion-img src={{logo}} id="img"></ion-img>
    </div>

    <div *ngIf="showTitle; else elseBlock" class="title">
        <ion-label ng-show='true' id="title">{{eventTitle}}</ion-label>
    </div>

    <ion-item>
        <ion-label position="floating">Full Name *</ion-label>
        <ion-input required [(ngModel)]="fullName"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Email Address *</ion-label>
        <ion-input type="email" required [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Mobile Number *</ion-label>
        <ion-input type="number" required [(ngModel)]="mobileNumber"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Home Number</ion-label>
        <ion-input type="number" [(ngModel)]="homeNumber"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Additional Information</ion-label>
        <ion-textarea [(ngModel)]="additionalInfo" rows="5"></ion-textarea>
    </ion-item>
    <ion-button (click)="subscribe()" id="subscribe-btn">Subscribe</ion-button>

    <ng-template #elseBlock>
        <ion-item hidden>
            <ion-label>{{subscriptionTitle}} here</ion-label>
        </ion-item>
    </ng-template>

    <ng-template #elseBlock2>
        <ion-item hidden>
            <ion-img src={{imageURL}}></ion-img>
        </ion-item>
    </ng-template>

</ion-content>
