.title{
  text-align: center;
}
#title{
  font-size: 2.5rem;
  font-family: Tahoma, Geneva, sans-serif;
}
#img{
  height: 10rem;

}
#subscribe-btn {
  width: 100%;
  margin-top: 20px;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  --border-radius: 30px !important;
  height: 56px;
  --background: #D5DBA6;
  color: #5C3C4C;
}

#ham-menu{
  color: #D5DBA6;
}