<ion-item>
<ion-label>Change Password</ion-label>
</ion-item>
<ion-item>
  <ion-label>
    {{errorMsg}}
  </ion-label>
</ion-item>
<ion-item>
  <ion-label position="floating">Enter Old Password</ion-label>
  <ion-input  type="password" name="oldPassword" ngDefaultControl [(ngModel)]="oldPassword"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating"  >Enter New Password</ion-label>
  <ion-input type="password" name="newPassword" ngDefaultControl [(ngModel)]="newPassword"></ion-input>
</ion-item>
<ion-item>
  <ion-label position="floating" >Re-Enter Old Password</ion-label>
  <ion-input type="password"  name="reenteredPassword" ngDefaultControl [(ngModel)]="reenteredPassword"></ion-input>
</ion-item>
<ion-item>
  <ion-button (click)="changePassword()">
    Confirm
  </ion-button>
</ion-item>
