<ion-header>
    <ion-toolbar>
        <ion-title>Change Password</ion-title>
    </ion-toolbar>
</ion-header>
<div class="content">
    <ion-item>
        <ion-label position="floating">Enter Old Password</ion-label>
        <ion-input required type="password" name="oldPassword" ngDefaultControl [(ngModel)]="oldPassword"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Enter New Password</ion-label>
        <ion-input required type="password" name="newPassword" ngDefaultControl [(ngModel)]="newPassword"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Re-Enter Old Password</ion-label>
        <ion-input required type="password" name="reenteredPassword" ngDefaultControl
                   [(ngModel)]="reenteredPassword"></ion-input>
    </ion-item>
    <ion-item>
        <ion-button id='confirm-btn' (click)="changePassword()">
            Confirm
        </ion-button>
    </ion-item>
</div>