.content {
  padding-left: 10px;
  padding-right: 10px;
}

#confirm-btn {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  -webkit-margin-start: 0px;
  margin-inline-start: 0px;
  -webkit-margin-end: 0px;
  margin-inline-end: 0px;
  --border-radius: 30px !important;
  height: 56px;
  --background: #D5DBA6;
  color: #5C3C4C;
}