<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button id="ham-menu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Admin Setting</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item (click)="presentChangePasswordPopover()">
        <ion-label>
            Change Password
        </ion-label>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item (click)="presentDeleteConformationAlert()">
        <ion-label>
            Clear All Data
        </ion-label>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item>
        <ion-label>
            Feedback
        </ion-label>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item>
        <ion-label>
            Donations
        </ion-label>
        <ion-icon slot="end" name="arrow-forward"></ion-icon>
    </ion-item>
    <ion-item>
        <ion-label text-wrap>
            About Logger
            <br>
            <br>
            <i><b>Version:</b> 1.0
                <br>
                <b>Created By:</b> Dream High Studio
                <br>
                <b>Contact:</b> creation.dhs@gmail.com
                <br>
                <b>Deceleration:</b> This application is created for the most general use case. <strong><br> If you
                    would
                    like
                    additional features or customization please contact me. </strong>
            </i>
        </ion-label>
    </ion-item>
</ion-content>
