<ion-header>
    <ion-toolbar>
        <ion-title>Event Dashboard</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let event of events">
            <ion-img src={{event.logo}} id="img"></ion-img>
        <ion-card-header>
            <ion-card-title>{{event.eventName}}</ion-card-title>
            <ion-card-subtitle>{{event.location}} {{event.dateTime | date: "dd/MM/yyyy HH:mm"}}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          {{event.eventDisc}}
        </ion-card-content>
        <ion-item href='/log-info-page/{{event.eventID}}'  class="activated">
            <ion-icon name="swap" slot="start"></ion-icon>
            <ion-label>Subscribe Mode</ion-label>
        </ion-item>
        <ion-item href='/view-logs-page/{{event.eventID}}' class="activated">
            <ion-icon name="clipboard" slot="start"></ion-icon>
            <ion-label>View Logs</ion-label>
        </ion-item>
        <ion-item href="/settings-page/{{event.eventID}}" class="activated">
            <ion-icon name="build" slot="start"></ion-icon>
            <ion-label>Edit Event</ion-label>
        </ion-item>
    </ion-card>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button id="fab-button" (click)="openModal()">
            <ion-icon name="add" id="add-icon"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
